* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4F6F6;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1bace4;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 180%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-transform: uppercase;
}

.navbar-nav a {
    font-size: 110%;
}

img {
    margin: 10px;
}

.container h1, h2, p, a {
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 110%;
}

.container h1 {
    box-shadow: 5px 5px 5px #1bace4;
    margin-top: 10px;
    font-size: 180%;
}

/* Footer */

.footer {
    background-color: #1bace4; /* Adjust the background color as needed */
}

.footer .container {
    justify-content: space-evenly;
}

.footer i {
    font-size: 200%;
    color: black;
}

.footer a, p {
    font-size: 130%;
}
